extends admin_layout

block admin_content
  h1.mb-4 #{pageTitle}

  if showWalletWarning
    .alert.alert-warning
      | Achtung: Es sind nur noch <strong>#{unusedWallets}</strong> ungenutzte Wallet-Adressen im Pool verfügbar. Bitte importiere bald neue Adressen.

  .row
    .col-md-6
      .card.text-center
        .card-body
          h5.card-title Gesamte Benutzer
          p.card-text.fs-2 #{totalUsers}
    .col-md-6
      .card.text-center
        .card-body
          h5.card-title Verfügbare Wallets
          p.card-text.fs-2 #{unusedWallets}