extends ../layout.pug

block content
  h1 Admin Dashboard

  p Willkommen im Admin-Bereich, #{currentUser.username}!

  h2 Aktionen
  ul
    li
      a(href="/admin/draws") Ziehungen Verwalten
    li
      a(href="/admin/settings") Globale Verlosungseinstellungen
    li
      a(href="/admin/import-wallets") Wallet-Adressen importieren
    //- Weitere Links hier...