extends admin_layout

block admin_content
  h1.mb-4 #{pageTitle}

  .card
    .card-header
      | Details zur Ziehung
    .card-body
      form(action="/admin/draws" method="POST")
        .row
          .col-md-6.mb-3
            label(for="name" class="form-label") Name der Ziehung
            input(type="text" class="form-control" id="name" name="name" required)
          .col-md-6.mb-3
            label(for="ticket_price" class="form-label") Ticketpreis (in BTC)
            input(type="number" step="0.00000001" class="form-control" id="ticket_price" name="ticket_price" required placeholder="z.B. 0.001")
        .row
          .col-md-6.mb-3
            label(for="total_tickets" class="form-label") Gesamtanzahl der Tickets
            input(type="number" class="form-control" id="total_tickets" name="total_tickets" required placeholder="z.B. 100")
          .col-md-6.mb-3
            label(for="processing_fee" class="form-label") Bearbeitungsgebühr (in BTC)
            input(type="number" step="0.00000001" class="form-control" id="processing_fee" name="processing_fee" required placeholder="z.B. 0.0001")
        .d-flex.justify-content-end
          a.btn.btn-secondary.me-2(href="/admin/draws") Abbrechen
          button(type="submit" class="btn btn-primary") Ziehung erstellen