extends layout.pug

block content
  h1= message
  h2= error.status
  if error.stack && process.env.NODE_ENV === 'development' // Stack nur in Entwicklung anzeigen
    h3 Stack Trace:
    pre #{error.stack}
  else if error.status === 404
    p Die angeforderte Seite konnte nicht gefunden werden.
  else
    p Es ist ein unerwarteter Fehler aufgetreten. Bitte versuche es später erneut.
  
  p
    a(href="/") Zurück zur Startseite